MONGODB_USER=yourMongoUser
MONGODB_PASSWORD=yourMongoPassword
MONGODB_URL=yourMongoClusterURL
MONGODB_DB=yourMongoDatabaseName
PORT=yourPort

SMTP_HOST=yourSmtpHost
SMTP_PORT=yourSmtpPort
SMTP_USER=yourSmtpUser
SMTP_PASSWORD=yourSmtpPassword
SMTP_FROM=yourSmtpFromEmail

APP_DOMAIN=yourAppDomain

JWT_SECRET=yourJwtSecret
FRONTEND_HOST=yourFrontendHost

ENABLE_CLOUDINARY=yourCloudinaryUrl
CLOUD_NAME=yourCloudName
API_KEY=yourCloudinaryApiKey
API_SECRET=yourCloudinaryApiSecret
